
{% extends 'base_generic.html' %}
{% block content %}
    <h1>My Uploaded Books</h1>
    
    {% if uploaded_files %}
        <ul>
            {% for file in uploaded_files %}
                <li>
                    <strong>{{ file.title }}</strong><br>
                    Description: {{ file.description }}<br>
                    Visibility: {{ file.visibility }}<br>
                    Cost: ${{ file.cost }}<br>
                    Year Published: {{ file.year_published }}<br>
                    <a href="{{ file.file.url }}" target="_blank">View File</a><br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't uploaded any books yet. <a href="{% url 'users:upload_books' %}">Upload a book</a></p>
    {% endif %}
{% endblock %}
